{% extends "base.html" %}

        {% block header%}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome</h1>
                <p class="lead text-muted">This is a test Python/Flask Application for monitoring IOT devices around my home. <br/>
                It is very much WIP.</p>
            </div>
        </section>
        {% endblock %}

      {% block main %}

      <div class="row">
            {% for record in records %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    
                    <div class="card-body">
                        <h1>{{record.name}}</h1>
                        <p class="card-text">{{record.desc}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">{{record.ipaddress}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
      {% endblock %}